<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="p-2">
    <div class="flex flex-wrap gap-4 p-4">
        <div class="card bg-base-100 w-96 border border-black">
            <div class="card-body">
                <h2 class="card-title">공사 공고</h2>
                <p>공고 등록 일시를 통해 나라장터 공사 공고 목록을 조회합니다.</p>
                <div class="card-actions justify-end">
                    <a href="/list" class="btn btn-outline">GO</a>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 w-96 border border-black">
            <div class="card-body">
                <h2 class="card-title">용역 공고</h2>
                <p>공고 등록 일시를 통해 나라장터 용역 공고 목록을 조회합니다.</p>
                <div class="card-actions justify-end">
                    <a href="/list?bidType=servc" class="btn btn-outline">GO</a>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 w-96 border border-black">
            <div class="card-body">
                <h2 class="card-title">외자 공고</h2>
                <p>공고 등록 일시를 통해 나라장터 외자 공고 목록을 조회합니다.</p>
                <div class="card-actions justify-end">
                    <a href="/list?bidType=frgcpt" class="btn btn-outline">GO</a>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 w-96 border border-black">
            <div class="card-body">
                <h2 class="card-title">물품 공고</h2>
                <p>공고 등록 일시를 통해 나라장터 물품 공고 목록을 조회합니다.</p>
                <div class="card-actions justify-end">
                    <a href="/list?bidType=thng" class="btn btn-outline">GO</a>
                </div>
            </div>
        </div>

</html>